# An xprofile file, ~/.xprofile and /etc/xprofile, allows you to execute 
# commands at the beginning of the X user session 
# - before the window manager is started.
# Read more: https://wiki.archlinux.org/index.php/Xprofile

xrdb -merge ~/.Xresources & # theme configuration file

setbg # set desktop wallpaper

xset r rate 250 40 & # Speed xrate up

# set language keyboard and swape caps and escape
setxkbmap -layout us,ru -option grp:alt_shift_toggle & 
setxkbmap -option caps:swapescape & 

# dunst     - notification-daemon
# xcompmgr  - window transparency
# sxhkd     - hotkey daemon
# unclutter - remove mouse cursor when idle
autostart="dunst xcompmgr sxhkd unclutter pipewire"

for program in $autostart; do
  # if program doesn't already started, start it.
	pidof -s "$program" || setsid -f "$program"
done >/dev/null 2>&1

