! Xft.dpi:   141
Xft.antialias:	true
Xft.hinting:	true
Xft.autohint:	false
Xft.hintstyle:	hintslight
Xft.rgba:	rgb

/* *font: xft:monospace:size=12 */
*font: Fira Code:pixelsize=15
! *font: Hack:pixelsize=14

! st.font: FiraCode Nerd Font:style=Medium:size=10:antialias=true
st.font: JetBrainsMono NFM:style=Regular:size=12:antialias=true

!! Transparency (0-1):
*alpha: 0.90

*cursorColor: #d8dee9

!! Colorscheme

/* name		dark	light
/* black	  0	    8 */
/* red		  1	    9 */
/* green	  2	   10 */
/* yellow	  3	   11 */
/* blue		  4	   12 */
/* purple	  5	   13 */
/* cyan		  6	   14 */
/* white	  7	   15 */

! /* gruvbox material */
! *background: #282828
! *foreground: #ebdbb2
! *color0:  #282828
! *color8:  #928374
! *color1:  #cc241d
! *color9:  #fb4934
! *color2:  #98971a
! *color10: #b8bb26
! *color3:  #d79921
! *color11: #fabd2f
! *color4:  #458588
! *color12: #83a598
! *color5:  #b16286
! *color13: #d3869b
! *color6:  #689d6a
! *color14: #8ec07c
! *color7:  #a89984
! *color15: #ebdbb2

! catppuccin mocha
*background: #1E1E2E
*foreground: #CDD6F4
*color0: #45475A
*color8: #585B70
*color1: #F38BA8
*color9: #F38BA8
*color2: #A6E3A1
*color10: #A6E3A1
*color3: #F9E2AF
*color11: #F9E2AF
*color4: #89B4FA
*color12: #89B4FA
*color5: #F5C2E7
*color13: #F5C2E7
*color6: #94E2D5
*color14: #94E2D5
*color7: #BAC2DE
*color15: #A6ADC8


!! URxvt Appearance
URxvt.intensityStyles:	false
URxvt.background:       [90]#1d2021
URxvt.depth:		32
URxvt.font: 	xft:Hack-Regular:pixelsize=18
URxvt.scrollBar:	false
/* URxvt.saveLines:	0 */

/* Disable iso mode while pressing CTRL + SHIFT */
URxvt.iso14755: false
URxvt.iso14755_52: false

/* URxvt Extensions */
URxvt.perl-ext-common: default,matcher,resize-font,url-select,clipboard

/* matcher */
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

/* url-select */
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

/* resize-font */
URxvt.resize-font.smaller: C-minus
URxvt.resize-font.bigger: C-plus
URxvt.resize-font:reset: c-equel

/* clipboard */
URxvt.clipboard.autocopy: true
URxvt.keysym.C-c: perl:clipboard:copy
URxvt.keysym.C-v: perl:clipboard:paste

/* scrolling */
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt.keysym.A-e: command:\033]721;3\007
URxvt.keysym.A-y: command:\033]720;3\007
