# An xprofile file, ~/.xprofile and /etc/xprofile, allows you to execute commands at the beginning of the X user session - before the window manager is started.
# Read more: https://wiki.archlinux.org/index.php/Xprofile

dunst & # notification-daemon
flameshot & # program for taking screenshots
xrdb -merge ~/.Xresources & # theme configuration file
xcompmgr & # window transparency
feh --randomize --bg-scale ~/Picture/wallpapers/* & # set desktop wallpaper
sxhkd &
setxkbmap -layout us,ru -option 'grp:alt_shift_toggle' & # set language keyboard
