# An xprofile file, ~/.xprofile and /etc/xprofile, allows you to execute commands at the beginning of the X user session - before the window manager is started.
# Read more: https://wiki.archlinux.org/index.php/Xprofile

dunst &      # notification-daemon
dwmblocks &  # bar for dwm
flameshot &  # screenshots utils
xcompmgr &   # window transparency
sxhkd &      # hotkey daemon
unclutter --idle 3 &	 # Remove mouse when idle
xset r rate 200 40 & # Speed xrate up
xrdb -merge ~/.Xresources & # theme configuration file

# feh --bg-scale ~/Picture/wallpapers/* &
xwallpaper --zoom ~/Pictures/wallpapers/* & # set desktop wallpaper

setxkbmap -layout us,ru -option 'grp:alt_shift_toggle' & # set language keyboard

# This line autostarts an instance of Pulseaudio that does not exit on idle.
# This is "necessary" on Artix due to a current bug between PA and
# Chromium-based browsers where they fail to start PA and use dummy output.
pidof -s runit &&
	! pidof -s pulseaudio >/dev/null 2>&1 &&
	setsid -f pulseaudio --start --exit-idle-time=-1 >/dev/null 2>&1
