/* *font: xft:monospace:size=11 */
*font: xft:Hack-Regular:pixelsize=14

!! Transparency (0-1):
*.alpha: 0.85

!! Colorscheme

/* name		dark	light
/* black	  0	    8 */
/* red		  1	    9 */
/* green	  2	   10 */
/* yellow	  3	   11 */
/* blue		  4	   12 */
/* purple	  5	   13 */
/* cyan		  6	   14 */
/* white	  7	   15 */


/* gruvbox */
! hard contrast: *background: #1d2021
! soft contrast: *background: #32302f
*background: #282828
*foreground: #ebdbb2

*color0:  #282828
*color8:  #928374
*color1:  #cc241d
*color9:  #fb4934
*color2:  #98971a
*color10: #b8bb26
*color3:  #d79921
*color11: #fabd2f
*color4:  #458588
*color12: #83a598
*color5:  #b16286
*color13: #d3869b
*color6:  #689d6a
*color14: #8ec07c
*color7:  #a89984
*color15: #ebdbb2

!! URxvt Appearance
URxvt.intensityStyles:	false
URxvt.background:       [85]#1d2021
URxvt.depth:		32
/* URxvt.font: 		xft:monospace:size=11 */
URxvt.scrollBar:	false
URxvt.cursorColor:	white

/* Disable iso mode while pressing CTRL + SHIFT */
URxvt.iso14755: false
URxvt.iso14755_52: false

/* URxvt Extensions */
URxvt.perl-ext-common: default,matcher,resize-font,url-select,clipboard

/* matcher */
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

/* url-select */
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

/* resize-font */
URxvt.resize-font.smaller: C-minus
URxvt.resize-font.bigger: C-plus
URxvt.resize-font:reset: c-equel

/* clipboard */
URxvt.clipboard.autocopy: true
URxvt.keysym.C-c: perl:clipboard:copy
URxvt.keysym.C-v: perl:clipboard:paste

/* scrolling */
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt.keysym.C-e: command:\033]721;3\007
URxvt.keysym.C-y: command:\033]720;3\007
