configuration {
	modi: "drun";
	width: 30;
	lines: 10;
	font: "mono 12";
	location: 8;
	yoffset: -120;
	xoffset: 250;
	show-icons: true;
	terminal: "urxvt";
/* theme: "gruvbox-dark"; */
	display-drun: "Search";
	kb-remove-to-eol: "Control+p";
	kb-accept-entry: "Control+m,Return,KP_Enter";
	kb-row-up: "Up,Control+k,ISO_Left_Tab";
	kb-row-down: "Down,Control+j";
}
