configuration {
	combi-hide-mode-prefix: true;
	combi-modi: "window,drun,run";
	disable-history: false;
	drun-display-format: "{name}";
	icon-theme: "Papirus";
	matching: "fuzzy";
	modi: "drun";
	scroll-method: 0;
	show-icons: true;
	sorting-method: "fzf";
	sort: true;
	threads: 0;
	window-thumbnail: true;
}

@theme "themes/gruvbox-common.rasi"
