alias s="sudo "

# commands
alias dotfiles="cd ~/dotfiles && $EDITOR"

# git
alias \
  g="git " \
  gs="git status" \
  ga="git add" \
  gc="git commit" \
  gp="git push" \

# directory
alias \
  cdd="cd ~/Desktop " \
  ls="exa" \
  ll="exa -la" \
  ll.='exa -dl .* --color=auto' \

alias \
  cat="bat"

# docker
alias \
  d="docker " \
  dc="docker-compose " \

# pacman 
alias p="sudo pacman "
