function test() {
  echo "test1"
  echo "test2"
}

function acp() {
  git add . 
  git commit -m "$1"
  git push origin master
}

# example: repeat 3 ping google.com
function repeat() {
  local i max
  max=$1; shift;
  for ((i=1; i <= max ; i++)); do
    eval "$@";
  done
}

function uuid() {
  python -c 'import uuid, sys;sys.stdout.write(str(uuid.uuid4()))'
}

